$color1: lightslategray;;
$color2: lightgreen;
$color3: lightpink;
$color4: violet;
$color5:  blueviolet;
$color6:  rgb(44, 219, 219);
$color7: rgba(66, 98, 240, 0.281);
$color8: darkblue;

.body {
    background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#15ffa5, #00ced1);
    background-color: mediumspringgreen;
    background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
    background-repeat: repeat;
    font-family: 'Anton', sans-serif;
font-family: 'Bebas Neue', cursive;
.title h1 {
    padding: 20px 0;
    text-align: center;
    font-size: 5em;
}
@mixin header() {
    text-align: left;
    font-size: 3em;
    background: rgba(66, 98, 240, 0.281);
    padding: 18px;
    grid-column: 1/6;
    color: white;
    border: 4px solid black;
 }
title {
    @include header();
}
.container {
    background: $color1;
    width: 90%;
    max-width: 100000px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.2em;
    grid-template-columns:repeat(5, 1fr);
    &__futuro {
        font-size: 2em;
        color: black;
    }
   
    &__main{
        background-color: $color7;
        padding: 20px;
        margin-top: 5px;
        grid-column: 1/6;
        color: white;
        border: 4px solid black;
        font-size: 1.8em;
    }
    &__sidebar {
    grid-column: 4/6;
    display: flex;
    background-color: salmon    ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 4px solid black;
    }
    &__nav {
         grid-column: 1/3 ;
    grid-row: 3/9;
    background-color: rgb(86, 218, 97)  ;
    font-size: 1.8em;
    }

&__footer {
   @include header();
   text-align: center;
   grid-template-columns:  33% 33% 33% ;
   display: grid;
   background-color: $color2;
&__footer:hover {
    cursor: pointer;
    color: black;
    background-color: $color1;
    transition: all 1s ease;

}
}


}

       
}



       
